* { /* Zgjedh të gjithë elementët */
  margin: 0; /* Heq hapësirat default jashtë elementëve */
  padding: 0; /* Heq hapësirat default brenda elementëve */
  box-sizing: border-box; /* Bën që padding dhe border të llogariten brenda madhësisë */
}

body { /* Stilon trupin kryesor të faqes */
  font-family: Arial, sans-serif; /* Vendos fontin kryesor */
  background-color: #f5f7fb; /* Vendos sfond gri të lehtë */
}

.App { /* Stilon div-in kryesor të aplikacionit */
  width: 100%; /* Merr gjithë gjerësinë e ekranit */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
